/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

audio,
canvas,
img,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/*Fonts*/
@font-face {
    font-family: 'envy_code_rregular';
    src: url('../fonts/envy_code_r-webfont.eot');
    src: url('../fonts/envy_code_r-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/envy_code_r-webfont.woff') format('woff'),
    url('../fonts/envy_code_r-webfont.ttf') format('truetype'),
    url('../fonts/envy_code_r-webfont.svg#envy_code_rregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'source_code_proregular';
    src: url('../fonts/source_code-webfont.eot');
    src: url('../fonts/source_code-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/source_code-webfont.woff') format('woff'),
    url('../fonts/source_code-webfont.ttf') format('truetype'),
    url('../fonts/source_code-webfont.svg#source_code_proregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'sailregular';
    src: url('../fonts/sail-webfont.eot');
    src: url('../fonts/sail-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/sail-webfont.woff') format('woff'),
    url('../fonts/sail-webfont.ttf') format('truetype'),
    url('../fonts/sail-webfont.svg#sailregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
    background: url("../img/bg.png") repeat;
}

li {
    list-style: none;
}

ul {
    padding: 0;
}

#wrapper {
    margin: 20px auto;
    width: 1000px;
    padding: 0;
}

#main-header {
    font: normal 36px "source_code_proregular";
    text-align: center;
    text-shadow: 3px 3px 3px #ccc;
}

#hero {
    padding: 0 40px;
}

#hero img {
    float: right;
    border: 15px solid #f0f0f0;
    -webkit-box-shadow:  0px 2px 2px #ccc;
    -moz-box-shadow:  0px 2px 2px #ccc;
    box-shadow:  0px 2px 2px #ccc;
    width: 180px; /* Resize the img instead */
    height: auto;
}

#hero img:hover {
    -webkit-transform: scale(1.1) rotate(-2deg);
    -moz-transform: scale(1.1) rotate(-2deg);
    -o-transform: scale(1.1) rotate(-2deg);
    transform: scale(1.1) rotate(-2deg);
}

#hero a {
    width: 100px;
    text-align: center;
    text-decoration: none;
    padding: 10px 20px;
    background: #d0d0c6;
    background: rgba(208, 208, 198, .5);
    border: dotted 1px #787871;
    font: bold 16px "source_code_proregular";
    float: left;
    color: #787871;
    margin-right: 30px;
    -webkit-border-top-right-radius: 20px;
    -moz-border-top-right-radius: 20px;
    border-top-right-radius: 20px;
    -webkit-border-bottom-left-radius: 20px;
    -moz-border-bottom-left-radius: 20px;
    border-bottom-left-radius: 20px;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    text-shadow: 1px 1px 1px #fff;
}

#hero a:hover {
    color: #dc692e;
    background: #ababa2;
    background: rgba(208, 208, 198, .9);
}

#basic-info {
    float: left;
}

#basic-info ul li {
    color: #787871;
    width: 660px;
    font: bold 18px "envy_code_rregular";
    text-shadow: 1px 1px 1px #fff;
    margin-top: 15px;
    padding-left: 10px;
    background: url("../img/divider.png") no-repeat bottom left;
}

#detail-info {
    margin: 20px auto;
    text-align: center;
    height: 400px;
}

#detail-info section {
    float:left;
    width: 310px;
    height: 370px;
    margin-right: 10px;
    background: #fafaf6;
    display: inline;
    border: 5px solid #e9e9e4;
}

#detail-info section:last-child {
    margin-right: 0;
}

.box h1.script {
    color: #646459;
    font: bold 30px "sailregular";
    border-bottom: 1px solid #ecece9;
    letter-spacing: 2px;
    text-shadow: 1px 1px 1px #ccc;
}

.item header h1 {
    color: #717165;
    font: bold 16px "envy_code_rregular";
}

.item ul, #detail-info p {
    font: normal 13px "source_code_proregular";
    text-align: left;
    padding: 0 10px;
}

.item li {
    width: 280px;
    -webkit-border-top-right-radius: 8px;
    -webkit-border-bottom-right-radius: 8px;
    -moz-border-radius-topright: 8px;
    -moz-border-radius-bottomright: 8px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    -webkit-border-top-left-radius: 8px;
    -webkit-border-bottom-left-radius: 8px;
    -moz-border-radius-topleft: 8px;
    -moz-border-radius-bottomleft: 8px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    padding-left: 10px;
}

.item li:hover {
    background: #d0d0c6;
    background: rgba(208, 208, 198, .5);
}













/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
