<!-- Download Section -->
<section id="gallery" class="content-section text-center">
  <div class="gallery-section">
    <div class="container">
      <div class="col-md-8 col-md-offset-2">
        <h2>Gallery</h2>
      </div>
      <div class="row" >
	<section class="gallery col-md-12">
	  <figure class="col-md-4 all poster" data-category="poster">
	    <img src="img/gallery/image-1.jpg"/>
	    <figcaption>
	      <h4>Lorem Ipsum</h4>
	      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi molestie lobortis magna eget sagittis.</p>
	    </figcaption>
	  </figure>
	  <figure class="col-md-4 all illustration" data-category="illustration">
	    <img src="img/gallery/image-2.jpg"/>
	    <figcaption>
	      <h4>Lorem Ipsum</h4>
	      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi molestie lobortis magna eget sagittis.</p>
	    </figcaption>
	  </figure>
	  <figure class="col-md-4 all poster" data-category="poster">
	    <img src="img/gallery/image-3.jpg"/>
	    <figcaption>
	      <h4>Lorem Ipsum</h4>
	      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi molestie lobortis magna eget sagittis.</p>
	    </figcaption>
	  </figure>
	  <figure class="col-md-4 all typography" data-category="typography">
	    <img src="img/gallery/image-4.jpg"/>
	    <figcaption>
	      <h4>Lorem Ipsum</h4>
	      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi molestie lobortis magna eget sagittis.</p>
	    </figcaption>
	  </figure>
	  <figure class="col-md-4 all illustration" data-category="illustration">
	    <img src="img/gallery/image-5.jpg"/>
	    <figcaption>
	      <h4>Lorem Ipsum</h4>
	      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi molestie lobortis magna eget sagittis.</p>
	    </figcaption>
	  </figure>
	  <figure class="col-md-4 all poster" data-category="poster">
	    <img src="img/gallery/image-6.jpg"/>
	    <figcaption>
	      <h4>Lorem Ipsum</h4>
	      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi molestie lobortis magna eget sagittis.</p>
	    </figcaption>
	  </figure>
	  <figure class="col-md-4 all illustration" data-category="illustration">
	    <img src="img/gallery/image-7.jpg"/>
	    <figcaption>
	      <h4>Lorem Ipsum</h4>
	      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi molestie lobortis magna eget sagittis.</p>
	    </figcaption>
	  </figure>
	  <figure class="col-md-4 all typography" data-category="typography">
	    <img src="img/gallery/image-8.jpg"/>
	    <figcaption>
	      <h4>Lorem Ipsum</h4>
	      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi molestie lobortis magna eget sagittis.</p>
	    </figcaption>
	  </figure>
	  <figure class="col-md-4 all package" data-category="package">
	    <img src="img/gallery/image-9.jpg"/>
	    <figcaption>
	      <h4>Lorem Ipsum</h4>
	      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi molestie lobortis magna eget sagittis.</p>
	    </figcaption>
	  </figure>
	  <figure class="col-md-4 all poster" data-category="poster">
	    <img src="img/gallery/image-10.jpg"/>
	    <figcaption>
	      <h4>Lorem Ipsum</h4>
	      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi molestie lobortis magna eget sagittis.</p>
	    </figcaption>
	  </figure>
	  <figure class="col-md-4 all package" data-category="package">
	    <img src="img/gallery/image-11.jpg"/>
	    <figcaption>
	      <h4>Lorem Ipsum</h4>
	      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi molestie lobortis magna eget sagittis.</p>
	    </figcaption>
	  </figure>
	  <figure class="col-md-4 all illustration" data-category="illustration">
	    <img src="img/gallery/image-12.jpg"/>
	    <figcaption>
	      <h4>Lorem Ipsum</h4>
	      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi molestie lobortis magna eget sagittis.</p>
	    </figcaption>
	  </figure>
	</section>
      </div>
    </div>
  </div>
</div>
</section>
