<!--HEADER-->
<header>
  <div class="container">
    <div class="row">
      <div class="twelve columns">
        <nav>
          <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#menu">Menu</a></li>
	    <li><a href="#">Gallery</a></li>
            <li><a href="#">Contact</a></li>
          </ul>
        </nav>  
      </div> 
    </div>

    <div class="row">    
      <div class="twelve columns">
        <h1 class="title">Happy Food Garden</h1>
        <h4>Phasellus ullamcorper ipsum rutrum nunc. Nunc nonummy metus. Vestibulum volutpat pretium libero. Cras id dui.</h4>
      </div>
    </div>

    <div class="row opening-hours">
      <div class="twelve columns">
	<div class="four columns offset-by-four">
	  <h4>Opening hours</h4>
	  <ul>
	    <li>Mon. - Fri. 10:00 ~ 22:00</li>
	    <li>Sat. 10:00 ~ 22:00</li>
	    <li>Sun. 10:00 ~ 22:00</li>
	  </ul>
	</div>
      </div>
    </div>
  </div><!--end of .container-->
</header>

<!--ABOUT-->

<section class="menu">
  <a name="menu"></a>
  <div class="container">
    <div class="row">
      <div class="twelve columns">
        <h3>Menu</h3>
      </div>
    </div><!--end of .row-->
  </div><!--end of .container-->
</section>

<!--CONTACT-->
<section class="contact">
  <div class="container">
    <div class="row">
      <div class="twelve columns">
        <h3>Contact</h3>
      </div>
    </div><!--end of .row-->
  </div><!--end of .container-->
</section>
